/* Existing CSS for .Aboutme and related classes */
.link-as-text {
  color: inherit; /* Maintain the same color as the surrounding text */
  text-decoration: none; /* Remove underline */
}

.link-as-text:hover {
  text-decoration: underline; /* Optionally, add underline on hover to indicate it is a link */
}

.Aboutme-detail {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 10px;
  margin-right: 10px;
}

/* Individual button styling */
.Aboutme-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5px;
  padding: 20px;
  width: calc(50% - 20px); /* Ensure four buttons fit in one row */
  min-width: 200px; /* Minimum width for each button */
  box-sizing: border-box;
  border-style: solid;
  border-color: white;
  background-color: white;
  transition: transform 0.1s ease;
}

.Aboutme-content:hover .Aboutme-image {
  animation: jiggle 0.3s ease;
}

.Aboutme-image {
  width: 15vh;
  height: 15vh;
  margin-bottom: 10px;
}

.Aboutme-wording {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.Aboutme-wording p {
  font-size: 20px;
  color: #654e3e;
  font-weight: bold;
  margin: 0;
}

.Aboutme-wording div {
  font-size: 15px;
  color: #8f6963;
  margin-top: 5px;
}

.info-container {
  display: flex;
  flex-direction: column;
}

.info-row {
  display: flex;
  margin-bottom: 5px;
  text-align: left;
}

.info-label {
  width: 120px; /* Adjust this value as needed */
  font-weight: bold;
  flex-shrink: 0;
  text-align: left;
}

.info-row span:last-child {
  flex-grow: 1;
}

@media (max-width: 768px) {
  .Aboutme-content {
    width: calc(100% - 10px); /* Two buttons per row */
  }

  .Aboutme-image {
    width: 14vh;
    height: 14vh;
  }
}

@keyframes jiggle {
  0%, 100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-5deg);
  }
  75% {
    transform: rotate(5deg);
  }
}