.Greeting{
  text-align: center;
  background-color: #faf2f2;
  position: relative;
  z-index: 1;
}

.circle-photo {
  flex-shrink: 0;
  width: calc(25vw); /* Adjust the width and height as needed */
  height: calc(25vw);
  border-radius: 100%; /* This will make the element a circle */
  overflow: hidden; /* This is to hide any content that might extend beyond the circle */
  margin-left: 5vw;
  margin-right: 5vw;
  margin-top:  5vw;
  margin-bottom: 5vw;
  border: 10px solid rgb(255, 255, 255); 
}

.Greeting-header{
  margin-left: 2vh;
  margin-right: 1vh;
  min-height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
}
.Greeting-wording {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.Greeting-wording p {
  font-size: xx-large; /* Adjust the font size */
  color: #654e3e;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
}

.Greeting-wording div {
  margin-top: 0; /* Remove top margin */
  margin-bottom: 0; /* Remove top margin */
  font-size: medium; /* Adjust the font size */
  color: #8f6963;
}

.email-button {
  margin-top: 20px;
  margin-bottom: 20px;
  display: inline-block;
  padding: 10px 20px;
  background-color: #e1b8bd;
  color: #654e3e;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  font-size: medium;
  cursor: pointer;
  font-weight: bold;
}

/* half my computer */
@media (max-width: 768px) {
  .Greeting-header {
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
  }
  
  .circle-photo {
    width: 30vh;
    height: 30vh;
    margin-right: 0;
    margin-top: 60px;
    margin-bottom: 0px;
  }

  .Greeting-wording {
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .Greeting-wording p {
    font-size: 30px;
  }
  
  .Greeting-wording div {
    font-size: 14px;
  }
  
  .email-button {
    font-size: 12px;
  }
  .email-button:hover {
    background-color: #d98e97;
  }
}