.Greeting{
  text-align: center;
  background-color: #faf2f2;
  position: relative;
  z-index: 1;
}

.circle-photo {
  flex-shrink: 0;
  width: 40vh; /* Adjust the width and height as needed */
  height: 40vh;
  border-radius: 100%; /* This will make the element a circle */
  overflow: hidden; /* This is to hide any content that might extend beyond the circle */
  margin-right: 50px;
  margin-top:  20px;
  margin-bottom: 10px;
  border: 10px solid white; 
}

.Greeting-header{
  margin-left: 100px;
  margin-right: 100px;
  min-height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
.Greeting-wording {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.Greeting-wording p {
  font-size: 60px; /* Adjust the font size */
  color: #654e3e;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
}

.Greeting-wording div {
  margin-top: 0; /* Remove top margin */
  margin-bottom: 0; /* Remove top margin */
  font-size: 20px; /* Adjust the font size */
  color: #8f6963;
  text-align: left; /* Align text to the left */
}

.email-button {
  margin-top: 20px;
  margin-bottom: 20px;
  display: inline-block;
  padding: 10px 20px;
  background-color: #e1b8bd;
  color: #654e3e;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
}

/* Add this at the end of your GreetingPage.css file */

@media (max-width: 1200px) {
  .Greeting-wording p {
    font-size: 50px;
  }
  
  .Greeting-wording div {
    font-size: 18px;
  }
  
  .email-button {
    font-size: 14px;
  }
}

@media (max-width: 992px) {
  .Greeting-wording p {
    font-size: 40px;
  }
  
  .Greeting-wording div {
    font-size: 16px;
  }
  
  .email-button {
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  .Greeting-header {
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
  }
  
  .circle-photo {
    width: 30vh;
    height: 30vh;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .Greeting-wording {
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .Greeting-wording p {
    font-size: 30px;
  }
  
  .Greeting-wording div {
    font-size: 14px;
  }
  
  .email-button {
    font-size: 12px;
  }
}

@media (max-width: 576px) {
  .Greeting-wording p {
    font-size: 20px;
  }
  
  .Greeting-wording div {
    font-size: 12px;
  }
  
  .email-button {
    font-size: 10px;
  }
}