/*Logo*/
.App-logo {
  height: 25px;
  pointer-events: none;
  display: block;
  margin: auto;
}
/* Navbar container */
.navbar {
  font-size: small;
  position: fixed;
  top: 0; /* Ensure it sticks to the top of the page */
  left: 0; /* Align to the left edge */
  display: flex;
  flex-direction: row;
  align-items: stretch;
  overflow: visible;
  background-color: #8f6963;
  font-family: Arial;
  padding: 0px;
  z-index: 100;
  box-shadow: 0 2px 4px rgba(0,0,0,0.5);
  width: 100%;
}
/* Links inside the navbar */
.navbar img.App-logo {
  max-width: 50px; /* Adjust this value as needed */
  max-height: 50px; /* Adjust this value as needed */
  margin-left: 10px;
  margin-right: 10px; /* Space between the image and the next element */
}

.navbar a {
  display: flex;
  align-items: center;
  text-align: center;
  font-size: small;
  height: 100%;
  color: white;
  padding: 10px 20px;
  margin: 0;
  overflow: hidden;
  text-decoration: none;
  transition: background-color 0.3s;
}

/* The dropdown container */
.dropdown {
  display: flex;
  overflow: hidden;
  align-items: stretch;
  text-align: center;
  margin: 0;
  transition: background-color 0.3s;
}

/* Dropdown button */
.dropdown .dropbtn {
  flex-grow: 1;
  font-size: small;
  border: none;
  outline: none;
  color: white;
  height: 100%;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
  padding: 10px 10px;
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #d98e97;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  z-index: 15000;
  top: 36px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: #654e3e;
  padding: 12px 20px;
  text-decoration: none;
  align-items: center;
  display: stretch;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #fae8ea;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}