.Overall {
  justify-content: center;
  background-color: #ffffff;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
}

.Overall-title {
  font-size: xxx-large; /* Adjust the font size */
  color: #654e3e;
  font-weight: bold;
  margin-top: 70px;
  margin-bottom: 20px;
  text-align: center; 
}